<html>
<head>
  <title>QuickShop</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet" />
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">QuickShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   <div class="container">
   	<div class="row">

        <div class="col-lg-3">
        <br>
        </br>
        
          <div class="list-group">
            <a href="/" class="list-group-item">Featured</a>
            <a href="/pc" class="list-group-item">PC</a>
            <a href="#" class="list-group-item">Xbox</a>
            <a href="#" class="list-group-item">PS4</a>
          </div>
        </div>

        <div class="col-lg-9">
        <br><h1>PC</h1><br>
          <div class="row">
            <table class="table table-bordered table-striped table-hover" id="pc_games"> 
              <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Store</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
</body> 
</html>

<script>
  $(document).ready(function(){
    $.getJSON('/static/js/pc.json', function(data){
      var games_data = '';
      $.each(data, function(key,value){
        games_data += '<tr>';
        games_data += '<td>'+value.id+'</td>';
        games_data += '<td>'+value.name+'</td>';
        games_data += '<td>'+value.price+'</td>';
        games_data += '<td>'+value.store+'</td>';
        games_data += '</tr>';
      });
      $('#pc_games').append(games_data);
    });
  });
</script>

