<html>
<head>
  <title>GameSearch</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet" />
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">GameSearch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   <div class="container">
    <div class="row">

        <div class="col-lg-3">
        <br>
        </br>
        
          <div class="list-group">
            <a href="/pc" class="list-group-item">PC</a>
            <a href="/xbox" class="list-group-item">Xbox</a>
            <a href="/ps4" class="list-group-item">PS4</a>
          </div>
        </div>

        <div class="col-lg-9">
        <br><h1>XBOX</h1><br>
          <div class="row">
            <table class="table table-bordered table-striped table-hover" id="xbox_games"> 
              <thead class="thead-inverse">
                <tr>
                  <th onclick="sortTable(0)">ID</th>
                  <th onclick="sortTable(1)">Name</th>
                  <th onclick="sortTable(2)">Price</th>
                  <th onclick="sortTable(3)">Store</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

            <script>
              function sortTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                table = document.getElementById("xbox_games");
                switching = true;
                //Set the sorting direction to ascending:
                dir = "asc"; 
                /*Make a loop that will continue until
                no switching has been done:*/
                while (switching) {
                  //start by saying: no switching is done:
                  switching = false;
                  rows = table.getElementsByTagName("TR");
                  /*Loop through all table rows (except the
                  first, which contains table headers):*/
                  for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch= true;
                        break;
                      }
                    } else if (dir == "desc") {
                      if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch= true;
                        break;
                      }
                    }
                  }
                  if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount ++;      
                  } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                      dir = "desc";
                      switching = true;
                    }
                  }
                }
              }
            </script>
          </div>
        </div>  
        
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body> 
</html>

<script>
  $(document).ready(function(){
    $.getJSON('/static/js/xbox.json', function(data){
      var games_data = '';
      $.each(data, function(key,value){
        games_data += '<tr>';
        games_data += '<td>'+value.id+'</td>';
        games_data += '<td>'+value.name+'</td>';
        games_data += '<td>'+value.price+'</td>';
        games_data += '<td>'+value.store+'</td>';
        games_data += '</tr>';
      });
      $('#xbox_games').append(games_data);
    });
  });
</script>
